climate_daily_cleaned.csv
dailyclimate.csv
raw/climate_data/daily/climate_data_nepal_district_wise_daily_part_i.csv
raw/climate_data/daily/climate_data_nepal_district_wise_daily_part_ii.csv
raw/climate_data/dailyclimate.csv
raw/crop_data/district_wise_crop/climate_data.csv
